echo "HOST: $HOSTNAME"
# if [ $HOSTNAME = 'xps-dtop' ]
# then
#     alias kubectl='microk8s kubectl'
# fi 
alias kubectl='microk8s kubectl'
# This file is used for convenience of local development.
# DO NOT STORE YOUR CREDENTIALS INTO GIT

# Needed for aliases to work - kubectl -> microk8s.kubectl
export APP_NAME=udagram-api-feed
export DOCKER_IMAGENAME=theresmith/$APP_NAME
export PORT=8080
export DOCKER_PORT=49160
export BASE_URL=http://localhost
export URL=$BASE_URL:$PORT
export API_ENDPOINT=/api/v0/feed

# *** AWS CLOUD INFO
export POSTGRES_USERNAME=udagramapp
export POSTGRES_PASSWORD=mysecretpassword
export POSTGRES_HOST=udagramdb2.c3sjnm8grqvi.us-west-2.rds.amazonaws.com
export POSTGRES_DB=postgres
export AWS_BUCKET=udacclouddevudagram-resmith-test
export AWS_REGION=us-west-2
export AWS_PROFILE=default
export JWT_SECRET=notASecret

# *** Local POSTGRES DB
# export POSTGRES_USERNAME=udagramappuser
# export POSTGRES_PASSWORD=mysecretpassword
# export POSTGRES_HOST=localhost
# export POSTGRES_DB=udagramdb
# export AWS_BUCKET=udacclouddevudagram-resmith-test

# export AWS_REGION=us-west-2
# export AWS_PROFILE=default
# export JWT_SECRET=notASecret
# export URL=http://localhost:8080
